<header>
  <h1><img src="/images/pink-paw-print-md.png" class="paw">Cat Facts
    <img src="/images/pink-paw-print-md.png" class="paw">
  </h1>
  <img src="/images/Happy-cat.jpg" title="Glad to See You!" class="sad-cat">
    <p>
      Welcome Back Subscribe-Purrr!
    </p>
</header>
<div id="login">
  <form method="POST" action="/login" class="login-form" id="login-form">
    <h2 id="form-header">Subscriber Login</h2>
    <div class="login-label">
      <div>
        <label for="login-email-field">Email:</label>
      </div>
      <div>
        <label for="login-password-field">Password:</label>
      </div>
    </div>
    <div class="login-input">
      <input type="email" name="email" id="login-email-field" placeholder="email@email.com">
      <input type="password" name="password" id="login-password-field" placeholder="Password">
    </div>
     <button class="login-button" type="submit" value="Login">Login
    </button>
  </form>
</div>
